<strong>Hello {staff_first_name}</strong>
Your appointment at Prebook has been successfully created and is pending approval.

Appointment ID : {appointment_id} <br/>
Service Name: {service_name}<br/>
Appointment Date: {booking_date}<br/>
Time Slot: {booking_time_start} to {booking_time_end}<br/>
Customer Name: {customer_name}<br/>
Staff Name: {staff_name}<br/>
Location: {customer_address}<br/>

We will review your appointment request and notify you once it's confirmed or if there are any changes.

Thank you for choosing Prebook!

Your Appointment Team
